langchain==0.1.12
langchain-community==0.0.27
langchain-core==0.1.30
langchain-openai==0.0.8
langchain-deepseek==0.0.3
langchain-huggingface==0.0.9
openai==1.13.3
streamlit==1.32.2
python-dotenv==1.0.1
pypdf==4.1.0
pandas==2.2.1
plotly==5.19.0
chromadb==0.4.24
pydantic==2.6.4
transformers==4.38.2

sentence-transformers==2.5.1
python-magic==0.4.27
tqdm==4.66.2
unstructured==0.12.5
faiss-cpu==1.7.4
tiktoken==0.6.0
tenacity==8.2.3
bs4==0.0.2
pdf2image==1.17.0
matplotlib==3.8.3
pillow==10.2.0 